name: Contracts Tests

# This workflow:
# - Runs the Foundry tests
# - Checks for console imports in the contracts
# - Runs the Hardhat tests
# - Generates a coverage report (currently disabled)

defaults:
  run:
    working-directory: test

on:
  push:
    branches: main
    paths:
      - ".github/workflows/contracts-tests.yml"
      - "test/**"
  pull_request:
    paths:
      - ".github/workflows/contracts-tests.yml"
      - "test/**"

jobs:
  test-hardhat:
    if: false
    name: Hardhat tests
    runs-on: ubuntu-latest

    steps:
      - name: Git checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install yarn
        uses: threeal/setup-yarn-action@latest

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: ".node-version"
          cache: "yarn"
          cache-dependency-path: "yarn.lock"

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Test contracts
        run: yarn test
